<div>
  <h2 class="title is-2">Login</h2>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Text input">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <a class="button is-link" routerLink="home">Submit</a>
    </div>

  </div>
</div>

