<h3>Condition Example</h3>

<button class="ibtn" (click)="changeRole('admin')">Login as Admin</button>
<button class="ibtn" (click)="changeRole('user')">Login as User</button>
<button class="ibtn" (click)="changeRole('client')">Login as Client</button>
<button class="ibtn" (click)="changeRole('')">Logout</button>

<div *ngIf="role">
    Welcome  {{role}}
</div>




<div class="msg-box success" *ngIf="role === 'admin'">
    Your are an Admin you have more power
</div>

<div class="msg-box error" *ngIf="role ==='user'">
    Your are a User, use is wisely..
</div>

<div class="msg-box" *ngIf="role==='admin' || role ==='user'">
    You are either Admin or a User
</div>


<!-- if and else using revert of is statement -->
<div *ngIf="isLoggedIn">You are a logged in user. :)</div>
<div *ngIf="!isLoggedIn">Please Login here</div>
<h5>Ng Switch</h5>


<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<button (click)="clear()">Clear</button>
<div [ngSwitch]="state">
    <div *ngSwitchCase="1">Current state is 1</div>
    <div *ngSwitchCase="7">Current state is 2</div>
    <div *ngSwitchCase="3">Current state is 3</div>
    <div *ngSwitchCase="4">Current state is 4</div>
    <div *ngSwitchCase="5">Current state is 5</div>
    <!-- <div *ngSwitchDefault>No State selected</div> -->
</div>