<h3>ngClass Example</h3>

<!-- ngClass with conditional object -->
<div class="notification" [ngClass]="{'is-success': messageType==='ok','is-danger':messageType==='error'}">
 {{ message }}
 {{ messageType }}
</div>

<!-- ngClass with an array of classes -->

<div [ngClass]="classArray">
    This is an example of ngClass with array input binding
</div>

<!-- ngClass with a string only -->
<div class="notification" [ngClass]="themeClass">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam alias est sit autem officiis natus quaerat saepe unde, commodi debitis! Aliquam explicabo ex fugit, porro qui blanditiis quidem non provident?
</div>

<div class="msg-box">
    Still its fine to accept static class here
</div>


<!-- Condition classes -->

<div class="notification" [class.is-success]="messageType==='ok'"  [class.is-danger]="messageType==='error'">
Example of [class.your class name]="condition"
</div>


<button class="button is-success" (click)="success()">Success</button>

<button class="button is-danger" (click)="error()">Error</button>


<h3>ngStyle</h3>

<div [ngStyle]="conditionalStyle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatem eveniet illo quisquam possimus qui inventore aperiam 
    impedit ullam quas. Veritatis esse, corrupti ad excepturi quibusdam natus sunt quasi aperiam?
</div>
<button class="button" (click)="addHeight()">Add Height</button>

<button class="button" (click)="addWidth()">Add Width</button>
