<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      Leave Management
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home"> Home</a>
      <a class="navbar-item" routerLink="/home/about">About</a>
      <a class="navbar-item" routerLink="/home/contact-us">Contact Us</a>
      <a class="navbar-item" routerLink="/home/observables">Observable</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Admin</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/admin/manage-leave-types">Manage Leave</a>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="/admin/manage-user">Manage Users</a>
        </div>
      </div>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{ user.name }}({{ user.role }})
         <div class="buttons">
          <a class="button is-small is-primary" *ngIf="!user?.name">
            <strong>Sign up</strong>
          </a>
          <a class="button is-small is-light" *ngIf="!user?.name">
            Log in
          </a>
          <a class="button is-small is-light" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>