<!--The content below is only a placeholder and can be replaced.-->
<div class="container is-fluid">
  <app-header></app-header>
<!-- <div style="text-align:center">
  <h1 class="title is-1">
    Welcome to {{ title }}!
  </h1>
 </div>

 <span> Test Span </span> -->
<p>
  Test P   
</p>
 <!-- <app-interpolation></app-interpolation> -->
<!-- <app-events></app-events> -->
<!-- <app-conditions></app-conditions> -->
<!-- <app-property-binding></app-property-binding> -->
<app-ngclass-style></app-ngclass-style>
<my-footer></my-footer>
 </div>

