<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
       Leave Management
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home"> Home</a>
        <a class="navbar-item" routerLink="/home/about">About</a>
        <a class="navbar-item" routerLink="/home/contact-us">Contact Us</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-small is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-small is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>