/* You can add global styles to this file, and also import other style files */
.error {
    color:red;

}

.success {
    color:green;
}

.msg-box {
    border:1px solid;
    padding:15px;
    margin-bottom: 10px;
}

.highlight {
    background:yellow;
    color:black;
}


button.ibtn {
    padding:5px;
    border:1px solid lightblue;
}

h2.title {
    color:lightblue
}

input.ng-invalid.ng-touched {
    border:1px solid tomato;
}

input.ng-valid.ng-touched {
    border:1px solid green;
}

.txt-input {
    padding:.4rem;
    border:1px solid lightgray;
    margin-right:5px;
}